name: build

on:
  pull_request: {}

  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        os: [
          # dCheck https://github.com/actions/runner-images?tab=readme-ov-file#available-images for actual versions for latest
          ubuntu-latest
        ]
        java-version: [21]

    runs-on: ${{matrix.os}}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run All Tests
        run: ./gradlew :sample:test
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_ACCESS_KEY }}

      - name: Upload Test Failures
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: test-failures-${{ matrix.os }}-${{ matrix.java-version }}
          path: |
            **/build/reports/tests/*/
            **/build/paparazzi/failures/
            paparazzi-gradle-plugin/src/test/projects/**/build/reports/paparazzi/**/images/
            paparazzi-gradle-plugin/src/test/projects/**/build/reports/configuration-cache/**/

